<div class="container" *ngIf="authentication.checkLogIn()">
    <h1>My Todo's</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let todo of todos">
        <td>{{todo.description}}</td>
        <td>{{todo.targetDate | date | uppercase }}</td>
        <td>{{todo.done}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container" *ngIf="!authentication.checkLogIn()" >
  <img  src="https://memegenerator.net/img/instances/70631324/you-shall-not-pass-until-you-verify-account-access.jpg"  class="rounded mx-auto d-block">
</div>